{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/admin.css' %}" type="text/css">
    <!-- Iconscout CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Admin Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}" alt="cognitive_crusaders_logo">
            </div>

            <span class="logo_name">Cognitive Crusaders</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li>
                        <a href="/AgregarTrabajadores">
                            <i class="uil uil-copy-landscape"></i>
                            <span class="link-name">Agregar trabajadores</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Monitor_Pedidos">
                            <i class="uil uil-chart"></i>
                            <span class="link-name">Monitorear pedidos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Pedidos_pendientes">
                            <i class="uil uil-thumbs-up"></i>
                            <span class="link-name">Pedidos pendientes</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/Pedidos_pendientes">
                            <i class="uil uil-copy-landscape"></i>
                            <span class="link-name">Pedidos pendientes</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">
                        <i class="uil uil-comments"></i>
                        <span class="link-name">Comments</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-share"></i>
                        <span class="link-name">Share</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="{% url 'Cliente_Usuario:Salir' %}">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>
                
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <span class="admin-name">Hola {{request.user.username}}</span>
            <img src="{% static 'Cliente_Usuario/images/user-circle.svg' %}" alt="profile">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="admin-title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="admin-text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="admin-text">Total Likes</span>
                        <span class="number">50,120</span>
                    </div>

                    <div class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="admin-text">Comments</span>
                        <span class="number">20,120</span>
                    </div>

                    <div class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="admin-text">Total Share</span>
                        <span class="number">10,120</span>
                    </div>
                </div>
            </div>

            <div class="activity">

                {% if request.user.is_superuser %}
                    <div class="admin-title">
                        <i class="uil uil-clock-three"></i>
                        <span class="admin-text">Trabajadores bajo mi mando</span>
                    </div>
                    <table class="table">
                        <tr>
                            <th class="table-row">Username</th>
                            <th class="table-row">Nombre</th>
                            <th class="table-row">Apellido</th>
                            <th class="table-row">Especialidad</th>
                            <th class="table-row">Sueldo</th>
                            <th class="table-row">Fecha ingreso</th>
                            <th class="table-row">Teléfono</th>
                            <th class="table-row">Correo</th>
                            <th class="table-row">Eliminar trabajador</th>
                        </tr>

                        <!-- insertar tantas filas como sean necesarias -->
                        {% for trabajador in trabajadores %}
                            <tr>
                                <td class="table-row">{{ trabajador.username }}</td>
                                <td class="table-row">{{ trabajador.nombre }}</td>
                                <td class="table-row">{{ trabajador.apellido }}</td>
                                <td class="table-row">{{ trabajador.Especialidad }}</td>
                                <td class="table-row">{{ trabajador.Sueldo }}</td>
                                <td class="table-row">{{ trabajador.Fecha_Ingreso }}</td>
                                <td class="table-row">{{ trabajador.telefono }}</td>
                                <td class="table-row">{{ trabajador.correo }}</td>
                                <td class="table-row">
                                    <form method="post" action="{% url 'Cliente_Usuario:admin' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="idTrabajador" value="{{ trabajador.id_usuario }}">
                                        <input type="submit" value="Eliminar">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="admin-title">
                        <i class="uil uil-clock-three"></i>
                        <span class="admin-text">Mi trabajo</span>
                    </div>
                    <table class="table">
                        <tr>
                            <th class="table-row">Tipo Pedido</th>
                            <th class="table-row">Cliente</th>
                            <th class="table-row">Teléfono</th>
                            <th class="table-row">Email</th>
                            <th class="table-row">Alcance</th>
                            <th class="table-row">Plazo inicio</th>
                            <th class="table-row">Plazo fin</th>
                            <th class="table-row">Presupuesto</th>
                            <th class="table-row">Información adicional</th>
                            <th class="table-row">Status</th>
                        </tr>
                        <form method="post" action="{% url 'Cliente_Usuario:admin' %}">
                            {% csrf_token %}
                            <input type="submit" value="Guardar cambios">
                        {% for pedidotrabajador in trabajadores %}
                            {% if pedidotrabajador.fk_Pedido.fk_Status.id_status != 1 %}
                                <tr>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.fk_TipoPedido.nombre }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.fk_Cliente.username }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.fk_Cliente.telefono }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.fk_Cliente.correo }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.Alcance }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.Plazo_inicio }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.Plazo_fin }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.Presupuesto }}</td>
                                    <td class="table-row">{{ pedidotrabajador.fk_Pedido.Info_adicional }}</td>
                                    <td class="table-row">
                                        <select id="Status" name="Status[]">
                                        <option value="0" selected>{{ pedidotrabajador.fk_Pedido.fk_Status.nombre }}</option>
                                        <option value="1">Terminada</option>
                                        <option value="2">En proceso</option>
                                        <option value="3">Con problemas</option>
                                        </select>
                                    </td>
                                    <input type="hidden" name="idPedido[]" value="{{ pedidotrabajador.fk_Pedido.id_pedido }}">
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </form>
                    </table>
                {% endif %}

                
                
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'Cliente_Usuario/js/script.js' %}"></script>
</body>

</html>