{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cognitive Crusaders | Data Science </title>
    <link rel="shortcut icon" href="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/hero_section.css' %}" />
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/features_section.css' %}" />
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/clients_section.css' %}" />
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/footer_section.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet' />
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css” />
</head>

<body>
    <header class="navigation-desktop">
        <div class="container">
            <div class="logo-replace-with-your-own">
                <img src="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg'%}" alt="cognitive_crusaders_logo"
                    class="image-1">
                <span class="text">Cognitive Crusaders</span>
            </div>

            <div class="navigation">
                <button type="button" class="home">
                    <div class="vectors-wrapper">
                        <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                    </div>
                    <span class="paragraph-m-medium">Inicio</span>
                </button>
                <a href="#services" class="home">
                    <div class="vectors-wrapper">
                        <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                    </div>
                    <span class="paragraph-m-medium">Servicios</span>
                </a>
                <a href="{% url 'Team' %}" class="home">
                    <div class="vectors-wrapper">
                        <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                    </div>
                    <span class="paragraph-m-medium">About us</span>
                </a>
                <button type="button" class="home">
                    <div class="vectors-wrapper">
                        <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                    </div>
                    <span class="paragraph-m-medium">Blog</span>
                </button>
                <a href="#footer" class="home">
                    <div class="vectors-wrapper">
                        <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                    </div>
                    <span class="paragraph-m-medium">Contacto</span>
                </a>
                {% if request.user.is_superuser %}
                    <a href="/AgregarTrabajadores" class="home">
                        <div class="vectors-wrapper">
                            <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-dark.svg' %}" alt="icon">
                        </div>
                        <span class="paragraph-m-medium">Agregar Trabajadores</span>
                    </a>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <a href="{% url 'Salir' %}" class="start-now">
                        <span class="paragraph-s-semi-bold">Cerrar Sesión {{ request.user.username }}</span>
                        <div class="vectors-wrapper">
                            <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="">
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'Register' %}" class="start-now">
                        <span class="paragraph-s-semi-bold">Comenzar</span>
                        <div class="vectors-wrapper">
                            <img src="{% static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="">
                        </div>
                    </a>
                {% endif %}

                
            </div>
        </div>
    </header>


    <main>
        <!-- hero_section.css -->
        <section class="hero-section">
            <div class=section>
                <div class="container">
                    <div class="_2-columns">
                        <div class="column">
                            <div class="content">
                                <div class="text-2">
                                    <p class="h3-semi-bold">Todo lo que necesitas para <span
                                            class="underline">potenciar</span>
                                        tu negocio
                                    </p>
                                    <p class="paragraph-l-regular">
                                        Comprende mejor tu negocio a través de nuestros servicios de análisis de datos y
                                        análisis de datos avanzados impulsados por IA para detectar patrones, tendencias
                                        y
                                        anticipar eventos.
                                    </p>
                                </div>
                            </div>

                            <div class="bottom">
                                <div class="actions">
                                    <button type="button" class="button">
                                        <span class="paragraph-s-semi-bold">¡Vamos!</span>
                                        <div class="vectors-wrapper">
                                            <img src="{% static 'Cliente_Usuario/images/arrows/arrow-right-light.svg' %}"
                                                alt="arrow-right">
                                        </div>
                                    </button>
                                </div>
                                <div class="rating">
                                    <span class="paragraph-l-regular">Recomendados por nuestros más de 1M de
                                        clientes</span>
                                    <div class="ratings">
                                        <img src="{% static 'Cliente_Usuario/images/rating-star.svg' %}" alt="rating-star">
                                        <img src="{% static 'Cliente_Usuario/images/rating-star.svg' %}" alt="rating-star">
                                        <img src="{% static 'Cliente_Usuario/images/rating-star.svg' %}" alt="rating-star">
                                        <img src="{% static 'Cliente_Usuario/images/rating-star.svg' %}" alt="rating-star">
                                        <img src="{% static 'Cliente_Usuario/images/rating-star.svg' %}" alt="rating-star">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column-2">
                            <img src="{% static 'Cliente_Usuario/images/girl.png' %}" alt="girl" class="image-2">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- features_section.css -->
        <section id="services" class="features_section">
            <div class="section-2">
                <div class="container-3">
                    <div class="section-header">
                        <div class="section-3">
                            <div class="container-4">
                                <div class="label">
                                    <p class="paragraph-s-medium">Servicios</p>
                                </div>

                                <div class="body">
                                    <div class="text-3">
                                        <p class="h4-semi-bold">Beneficios principales</p>
                                        <p class="paragraph-l-regular-2">Nuestros servicios están diseñados para
                                            ayudarle a comprender sus datos <br> para la toma de decisiones basada en
                                            los
                                            mismos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="_2-columns">
                        <div class="column-3">
                            <div class="featured-section-cards-base">
                                <div class="header">
                                    <div class="featured-icons">
                                        <div class="vectors-wrappers-4">
                                            <img src="{% static 'Cliente_Usuario/images/search.svg' %}" alt="search">
                                        </div>
                                    </div>
                                    <div class="text-4">
                                        <span class="subtitle-semi-bold">Análisis de datos</span>
                                        <span class="paragraph-m-regular">Exploración y visualización de datos para
                                            obtener
                                            información valiosa y significativa para su negocio.</span>
                                    </div>
                                </div>

                                <button type="button" class="button-2">
                                    <span class="paragraph-m-medium-2">Más información</span>
                                    <div class="vectors-wrappers-5">
                                        <img src="{% static 'Cliente_Usuario/images/arrows/arrow-right-blue.svg' %}"
                                            alt="arrow-right-blue">
                                    </div>
                                </button>
                            </div>

                            <div class="featured-section-cards-base">
                                <div class="header">
                                    <div class="featured-icons">
                                        <div class="vectors-wrappers-4">
                                            <img src="{% static 'Cliente_Usuario/images/line-chart.svg' %}" alt="line-chart">
                                        </div>
                                    </div>
                                    <div class="text-4">
                                        <span class="subtitle-semi-bold">Modelado predictivo</span>
                                        <span class="paragraph-m-regular">Modelos predictivos utilizando técnicas de
                                            aprendizaje automático y estadísticas para predecir futuros eventos o
                                            tendencias.</span>
                                    </div>
                                </div>

                                <button type="button" class="button-2">
                                    <span class="paragraph-m-medium-2">Más información</span>
                                    <div class="vectors-wrappers-5">
                                        <img src="{% static 'Cliente_Usuario/images/arrows/arrow-right-blue.svg' %}"
                                            alt="arrow-right-blue">
                                    </div>
                                </button>
                            </div>

                            <div class="featured-section-cards-base">
                                <div class="header">
                                    <div class="featured-icons">
                                        <div class="vectors-wrappers-4">
                                            <img src="{% static 'Cliente_Usuario/images/bussiness.svg' %}" alt="bussiness">
                                        </div>
                                    </div>
                                    <div class="text-4">
                                        <span class="subtitle-semi-bold">Análisis de mercado</span>
                                        <span class="paragraph-m-regular">Los servicios de ciencia de datos pueden
                                            ayudar a las empresas a entender mejor su mercado y sus clientes, a
                                            identificar tendencias y a encontrar oportunidades de crecimiento.</span>
                                    </div>
                                </div>

                                <button type="button" class="button-2">
                                    <span class="paragraph-m-medium-2">Más información</span>
                                    <div class="vectors-wrappers-5">
                                        <img src="{% static 'Cliente_Usuario/images/arrows/arrow-right-blue.svg' %}"
                                            alt="arrow-right-blue">
                                    </div>
                                </button>
                            </div>
                        </div>

                        <div class="gallery">
                            <div class="gallery-features-base">
                                <div class="gallery-2">
                                    <div class="left">
                                        <div class="rectangle-145">
                                            <img src="{% static 'Cliente_Usuario/images/services/data-analitycs.png' %}" alt="data"
                                                class="rectangle-145">
                                        </div>
                                        <div class="rectangle-148">
                                            <img src="{% static 'Cliente_Usuario/images/services/predictive-model.png' %}"
                                                alt="predictive.model" class="rectangle-148">
                                        </div>
                                    </div>
                                    <div class="left">
                                        <div class="rectangle-148">
                                            <img src="{% static 'Cliente_Usuario/images/services/img-1.png' %}" alt="img-1"
                                                class="rectangle-148">
                                        </div>
                                        <div class="rectangle-145">
                                            <img src="{% static 'Cliente_Usuario/images/services/img-2.png' %}" alt="img-2"
                                                class="rectangle-145">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- clients_section.css -->
        <section class="clients-logo">
            <div class="section-5">
                <div class="container-7">
                    <div class="section-header-2">
                        <div class="section-6">
                            <div class="container-8">
                                <div class="body-3">
                                    <div class="text-6">
                                        <span class="h4-semi-bold">Nuestros clientes</span>
                                        <span class="paragraph-l-regular-4">Conoce las organizaciones que han decidido
                                            usar nuestros servicios</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-3">
                        <div class="logos">
                            <div class="_1">
                                <img src="{% static 'Cliente_Usuario/images/clients/acciona.svg' %}" alt="acciona" class="_1-inside">
                            </div>
                            <div class="_2">
                                <img src="{% static 'Cliente_Usuario/images/clients/skywave.svg' %}" alt="skywave" class="_2-inside">
                            </div>
                            <div class="_3">
                                <img src="{% static 'Cliente_Usuario/images/clients/nexacore.svg' %}" alt="nexacore" class="_3-inside">
                            </div>
                            <div class="_4">
                                <img src="{% static 'Cliente_Usuario/images/clients/elitexcel.svg' %}" alt="elitexcel" clas="_4-inside">
                            </div>
                        </div>

                        <div class="logos">
                            <div class="_1">
                                <img src="{% static 'Cliente_Usuario/images/clients/zenithron.svg' %}" alt="zenithron"
                                    class="_1-inside">
                            </div>
                            <div class="_2">
                                <img src="{% static 'Cliente_Usuario/images/clients/ennovatek.svg' %}" alt="ennovatek"
                                    class="_2-inside">
                            </div>
                            <div class="_3">
                                <img src="{% static 'Cliente_Usuario/images/clients/infinitumix.svg' %}" alt="infinitumix"
                                    class="_3-inside">
                            </div>
                            <div class="_4">
                                <img src="{% static 'Cliente_Usuario/images/clients/spectrafuse.svg' %}" alt="spectrafuse"
                                    class="_4-inside">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- footer_section.css -->
    <footer>
        <div id="footer" class="section-7">
            <div class="container-9">

                <div class="content-4">
                    <div class="info-2">
                        <div class="logo-description">
                            <div class="logo-replace-with-your-own-2">
                                <div class="vectors-wrapper-16">
                                    <img src="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}"
                                        alt="cognitive_crusaders_logo" class="vectors-wrapper-16"/>
                                </div>
                                <div class="text-wrap-2">
                                    <span class="text-head">Cognitive Crusaders</span>
                                </div>
                            </div>
                            <span class="paragraph-m-regular-3">Nos encanta trabajar con personas ambiciosas y
                                apasionadas. <br>Creemos algo juntos.</span>
                        </div>

                        <div class="social-icon">
                            <img src="{% static 'Cliente_Usuario/images/social_icons/instagram.svg' %}" alt="instagram" class="vectors-wrapper-17">
                            <img src="{% static 'Cliente_Usuario/images/social_icons/facebook.svg' %}" alt="facebook" class="vectors-wrapper-17">
                            <img src="{% static 'Cliente_Usuario/images/social_icons/twitter.svg' %}" alt="twitter" class="vectors-wrapper-17">
                            <img src="{% static 'Cliente_Usuario/images/social_icons/linkedin.svg' %}" alt="linkedin" class="vectors-wrapper-17">
                        </div>
                    </div>

                    <div class="links">
                        <div class="footer-links-column">
                            <span class="paragraph-l-semi-bold">Producto</span>
                            <div class="footer-links-column">
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Planes</span>
                                </button>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Aplicaciones</span>
                                </button>
                                <a href="#services" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Servicios</span>
                                </a>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Reseñas</span>
                                </button>
                            </div>
                        </div>
                        <div class="footer-links-column">
                            <span class="paragraph-l-semi-bold">Empresa</span>
                            <div class="footer-links-column">
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">About us</span>
                                </button>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Blog</span>
                                </button>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Contacto</span>
                                </button>
                            </div>
                        </div>
                        <div class="footer-links-column">
                            <span class="paragraph-l-semi-bold">Soporte</span>
                            <div class="footer-links-column">
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Centro de ayuda</span>
                                </button>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Reporta un bug</span>
                                </button>
                                <button type="button" class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/vectors-wrapper-light.svg' %}" alt="icon">
                                    </div>
                                    <span class="paragraph-m-medium-light">Chat de soporte</span>
                                </button>
                            </div>
                        </div>
                        <div class="footer-links-column">
                            <span class="paragraph-l-semi-bold">Contáctanos</span>
                            <div class="footer-links-column">
                                <div class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/footer/email.svg' %}" alt="email">
                                    </div>
                                    <span class="paragraph-m-medium-light">contact@ccrusaders.ent</span>
                                </div>
                                <div class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/footer/phone.svg' %}" alt="phone">
                                    </div>
                                    <span class="paragraph-m-medium-light">+1 (500) 300 250</span>
                                </div>
                                <div class="button-4">
                                    <div class="vectors-wrapper-18">
                                        <img src="{%  static 'Cliente_Usuario/images/footer/location-gray.svg' %}" alt="location">
                                    </div>
                                    <span class="paragraph-m-medium-light">3891 Ranchview <br>
                                        Dr. Richardson, CA 62639</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="vectors-wrappers-19"></div> -->

                <div class="links-padding-top">
                    <span class="paragraph-m-regular-3">&copy 2023 Cognitive Crusaders Enterprise - All rights reserved</span>
                    <div class="legal">
                        <a href="#" class="paragraph-m-regular-4">Terms of Service</a>
                        <div class="vectors-wrapper-20">
                            <img src="{% static 'Cliente_Usuario/images/footer/separator.svg' %}" alt="separator">
                        </div>
                        <a href="#" class="paragraph-m-regular-4">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>