{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <title>{% block title %}{% endblock %}</title> 
</head>

<body>

    <div class="topnav">
        <a href="/">INICIO</a>
        <a href="/servicios">SERVICIOS</a>
        <a href="/register">REGISTRARSE</a>
        <a href="/accounts/login/">INICIAR SESIÓN</a>
        <a href="/AgregarTrabajadores">AGREGAR TRABAJADORES</a>
    </div>

    {% if request.user.is_authenticated %}
            <p>Bienvenido {{ request.user.username }}!</p>
            <a href="{% url 'Salir' %}">Cerrar sesión</a>
    {% else %}
            <p>Por favor <a href="{% url 'login' %}">Inicie sesión</a> para ver el contenido.</p>
    {% endif %}

    
    {% block content %}
    {% endblock %}

</body>

</html>