{% extends "master.html" %}


{% block title %}Visualizar trabajadores interfaz para administradores{% endblock %}

{% block content %}
    
    <div class="main">

        <h1>Hola Administrador</h1>
        <p>Aqui puedes observar a los trabajadores que estan bajo tu mando</p>
        
    </div>

    <ul>
    {% for trabajador in trabajadores %}
        <li>{{trabajador.username}} {{trabajador.nombre}} {{trabajador.apellido}} {{trabajador.Especialidad}} {{trabajador.Sueldo}} {{trabajador.Fecha_Ingreso}} {{trabajador.telefono}} {{trabajador.correo}}</li>
    {% endfor %}
    </ul>
    
{% endblock %}