{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/new_login.css' %}">
    <link rel="shortcut icon" href="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}" type="image/x-icon">

    <!-- Boxicons CSS -->
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <title>Login</title>
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>¡Inicia sesión ahora!</header>

                <form method="post" >
                    {% csrf_token %}
                    <!-- Username input -->
                    <div class="field input-field">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                    </div>
                    <!-- Password input -->
                    <div class="field input-field">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="form-separator"></div>
                    <!-- Submit button -->
                    <div class="field button-field">
                        <button type="submit" value="submit">Iniciar sesion</button> 
                    </div>
                    <!-- Forgot password -->
                    <div class="form-link">
                        <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
                    </div>
                    
                </form>

                <!-- Already have an account? -->
                <div class="form-link">
                    <span>¿Aún no tienes cuenta? <a href="{% url 'Cliente_Usuario:Register' %}" class="signup-link">Regístrate</a></span>
                </div>
            </div>
            
            <!-- <div class="line"></div> -->
            <!-- Facebook login -->
            <!-- <div class="media-options">
                <a href="#" class="field facebook">
                    <i class="bx bxl-facebook facebook-icon"></i>
                    <span>Continuar con Facebook</span>
                </a>
            </div> -->
            
            <!-- Google login -->
            <!-- <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google-icon.svg" alt="google-icon" class="google-img">
                    <span>Accede con Google</span>
                </a>
            </div> -->
        </div>

    </section>
</body>
</html>