<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <title>Inicio de sesión</title>
</head>
<body>
    <h1>Hola pon tu cuenta</h1>
    <form method="post">
        {% csrf_token %}

        {{ form | crispy }}
        {% comment %} <label for="username">Usuario</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>{% endcomment %}
        <button type="submit" value="submit">Inciar sesion</button> 
        {% comment %} <input type="submit" value="Iniciar sesión"> {% endcomment %}
    </form>
</body>
</html>
