{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/new_login.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/cognitive_crusaders_logo.svg' %}" type="image/x-icon">

    <!-- Boxicons CSS -->
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
    <title>Login</title>
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>¡Inicia sesión ahora!</header>

                <form action="#">
                    <!-- Email input -->
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input"> 
                    </div>
                    <!-- Password input -->
                    <div class="field input-field">
                        <input type="password" placeholder="Contraseña" class="password"> 
                        <!-- <i class="bx bx-hide eye-icon"></i> -->
                    </div>
                    <!-- Forgot password -->
                    <div class="form-link">
                        <a href="#" class="forgot-pass">¿Olvidaste tu contraseña?</a>
                    </div>
                    <!-- Submit button -->
                    <div class="field button-field">
                        <button type="submit">Iniciar sesión</button>
                    </div>
                    
                </form>

                <!-- Already have an account? -->
                <div class="form-link">
                    <span>¿Aún no tienes cuenta? <a href="{% url 'Register' %}" class="signup-link">Regístrate</a></span>
                </div>
            </div>
            
            <!-- <div class="line"></div> -->
            <!-- Facebook login -->
            <!-- <div class="media-options">
                <a href="#" class="field facebook">
                    <i class="bx bxl-facebook facebook-icon"></i>
                    <span>Continuar con Facebook</span>
                </a>
            </div> -->
            
            <!-- Google login -->
            <!-- <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google-icon.svg" alt="google-icon" class="google-img">
                    <span>Accede con Google</span>
                </a>
            </div> -->
        </div>

    </section>
</body>
</html>