{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate</title>
    <link rel="stylesheet" href="{% static 'Cliente_Usuario/css/new_login.css' %}">
    <link rel="shortcut icon" href="{% static 'Cliente_Usuario/favicon/cognitive_crusaders_logo.svg' %}" type="image/x-icon">
    <!-- Boxicons CSS -->
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> -->
</head>
<body>
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>¡Regístrate ahora!</header>


                <form method="post" action="{% url 'Cliente_Usuario:Register' %}">
                    {% csrf_token %}
                    <!-- Email input -->
                    {% for field in form %}
                        <div class="field input-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <!-- Submit button -->
                    <div class="field button-field">
                        <button type="submit">¡Regístrate!</button>
                    </div>
                    
                </form> 

                <!-- Already have an account? -->
                <div class="form-link">
                    <span>¿Ya tienes cuenta? <a href="/accounts/login/" class="signup-link">Inicia sesión</a></span>
                </div>
            </div>
            
            <!-- <div class="line"></div> -->
            <!-- Facebook login -->
            <!-- <div class="media-options">
                <a href="#" class="field facebook">
                    <i class="bx bxl-facebook facebook-icon"></i>
                    <span>Continuar con Facebook</span>
                </a>
            </div> -->
            
            <!-- Google login -->
            <!-- <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google-icon.svg" alt="google-icon" class="google-img">
                    <span>Accede con Google</span>
                </a>
            </div> -->
        </div>
    </section>
</body>
</html> 